.wrap {
    @include clearfix;
    width: calc(100% - (120px * 2));
    margin: 0 120px;
    @include bp(xs) {
        margin: 0;
        width: 100%;
    } //xs
    @include bp(sm) {
        margin: 0;
        width: 100%;
    } // sm
    @include bp(md) {
        margin: 0;
        width: 100%;
        } // md
} // wrap

.button {
    @include inline-middle;
    padding: 8px 20px 5px 20px;
    font-size: 19(rem);
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
    &:active {}
    &:hover {}
    &.green-button {
        background-color: #27AE60;
        border-radius: 3px;
        font-weight: bold;
        color: white;
    } // &.green-button
    &.white-button {
        text-decoration: underline;
        color: #464646;
    } // &.white-button
} // button

.label {
    @include inline-middle;
    background-color: #1ABC9C;
    color: white;
    line-height: 1;
    padding: 2px 6px;
    border-radius: 2px;
    &.small {
        font-size: rem(12);
    } // &.small
} // .label
