.job-top-line {
    margin: 40px 0 0 0;
    .link {
        color: #464646;
        width: calc(100% - 20px);
        display: block;
        margin-bottom: 50px;
        @include bp(xs) {
            margin-left: 20px;
        } // xs
        @include bp(sm) {
            margin-left: 20px;
        } // sm
        @include bp(md) {
            width: calc(100% - 50px);
            margin-left: 50px;
        } // md
        &:before {
            content: '\f053';
            display: inline-block;
            font: normal normal normal 18px/1 FontAwesome;
            text-rendering: auto;
            margin-right: 10px;
        } // &:before
    } // link
    .job-title {
        margin: 50px 0 40px 0;
        font-weight: bold;
        color: #464646;
        text-align: center;
    } // job-title
    .block {
        width: 50%;
        @include bp(xs) {
            width: 100%;
            text-align: center;
        } // xs
        @include bp(sm) {
            width: 100%;
            text-align: center;
        } // sm
    } // block
    .company {
        float: left;
        .logo-box {
            width: 40%;
            display: inline-block;
            float: left;
            box-sizing: border-box;
            @include bp(xs) {
                width: 100%;
            } // xs
            @include bp(sm) {
                width: 100%;
            } // sm
            .logo {
                width: 130px;
                height: 70px;
                background: url(/static/images/logo.png);
                background-size: 100%;
                margin: 0 auto;
            } // logo
        } // logo-box
        .info {
            width: 60%;
            display: inline-block;
            @include bp(xs) {
                width: 100%;
                margin: 50px 0;
            } // xs
            @include bp(sm) {
                width: 100%;
                margin: 50px 0;
            } // sm
            .name {
                font-weight: bold;
            } // name
            .site {
                color: #2980B9;
                a {
                    text-decoration: none;
                } // a
            } // site
        } // info
    } // company
    .share-buttons {
        float: right;
        .social {
            @include clear-list-inline;
            margin-top: 35px;
            li {
                margin-right: 25px;
                @include bp(xs) {
                    display: block;
                    background-color: #ededed;
                    margin-right: 0;
                    padding: 10px 0;
                } // xs
                @include bp(sm) {
                    display: block;
                    background-color: #ededed;
                    margin-right: 0;
                    padding: 10px 0;
                } // sm
                a{
                    text-decoration: none;
                    color: #464646;
                    i {
                        margin-right: 10px;
                        color: #8d8d8d;
                    } // i
                } // a
            } // li
        } // social
    } // share-buttons
} // job-top-line

.text-block {
    @include bp(xs) {
        display: block;
        margin: 0 20px;
    } // xs
    @include bp(sm) {
        display: block;
        margin: 0 20px;
    } // sm
} // text-block

.apply-or-cancel {
    .buttons {
        text-align: center;
        margin-bottom: 50px;
        .button {
            @include bp(xs) {
                display: block;
                width: 180px;
                margin: 10px auto;
            } // xs
            @include bp(sm) {
                display: block;
                width: 180px;
                margin: 10px auto;
            } // sm
        } // button
    } // buttons
} // apply-or-cancel
