.list-jobs {
    .title-job {
        @include clearfix;
        margin: 25px 0;
        padding: 0 20px;
        .title-box {
            width: 80%;
            float: left;
            a {
                @include inline-middle;
                color: #2980B9;
                font-weight: bold;
                font-size: 22(rem);
                text-decoration: none;
            } // a
            .hours {
                @include inline-middle;
            } // hours
        } // title-box
        .count-box {
            width: 20%;
            float: left;
            text-align: right;
        } // count-box
    } // title-job
    ul {
        @include clear-list;
        li {
            + li {
                border-top: 1px solid #DADADA;
            } // + li
            .job {
                display: block;
                width: 100%;
                box-sizing: border-box;
                text-decoration: none;
                padding: 20px;
                @include clearfix;
                .description {
                    width: 80%;
                    float: left;
                    .label {
                        margin-right: 10px;
                    } // label
                    .company-name {
                        font-size: 20(rem);
                        font-weight: bold;
                        color: black;
                        @include inline-middle;
                    } // company-name
                    .title {
                        @include inline-middle;
                        color: #27AE60;
                    } // title
                } // description
                .date {
                    width: 20%;
                    float: left;
                    text-align: right;
                    font-size: 16(rem);
                    color: black;
                } // date
            } // job
            .highlight {
                background-color: #F1FAEA;
            } // highlight
        } // li
    } // ul
} // list-jobs
