<header>
    <div class="wrap">
        <nav class="top-menu">
            <ul>
                <li>
                    <a href="">Services</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Why Remote</a>
                </li>
                <li>
                    <a href="">Tallent poll</a>
                    <span class="label small">soon...</span>
                </li>
            </ul>
        </nav>
        <nav class="button-area">
            <a href="#" class="button green-button">Post job</a>
        </nav>
    </div>
</header>
