<!-- search-tab -->
<section class="search-tab">
    <div class="tabs">
        <a href="#search" data-role="tab-trigger">Search</a>
        <span>or</span>
        <a href="#browsetag" data-role="tab-trigger">Browse tags</a>
    </div>
    <div class="tabs-content">
        <div class="box" id="search" data-role="tab">
            <!-- search -->
            <section class="search">
               <div class="wrap">
                   <nav class="search-box">
                       <input type="text" placeholder="Search: 'Front end', 'Django'">
                       <button class="lupa"></button>
                   </nav>
               </div>
            </section>
            <!-- /search -->
        </div>
        <div class="box" id="browsetag" data-role="tab">
            <!-- tags -->
            <section class="tags">
                <h3 class="title-tags">Technologies</h3>
                <ul class="list-tags">
                    <li><a href="#">QA</a></li>
                    <li><a href="#">Ruby on Rails</a></li>
                    <li><a href="#">Django</a></li>
                    <li><a href="#">UI/UX</a></li>
                    <li><a href="#">AngularJS</a></li>
                </ul>
            </section>
            <!-- /tags -->
        </div>
    </div>
</section>
<!-- /search-tab -->
