body, html {
    height: 100%;
} // body, html

body {
    font-size: rem(18);
    line-height: 150%;
    background: $main-background-color;
    font-family: $base-font-family;
    color: $text-color;
    position: relative;
    padding: 0;
    margin: 0;
    @include bp(xs) {
        font-size: rem(22);
    } // xs
    @include bp(sm) {
        font-size: rem(22);
    } // sm
    @include bp(md) {
        font-size: rem(22);
    } // md
    @include bp(lg) {
        font-size: rem(22);
    } // lg
    * {
        -webkit-text-size-adjust: none;
    } // *
} // body

img {
    display: block;
    max-width: 100%;
    vertical-align: top;
} // img

a {
    color: $link-color;
    @include transition(all, 0.3s, ease);
    &:hover {
        text-decoration: none;
    } // &:hover
} // a


h1, h2, h3, h4, h5 {
    font-weight: normal;
    line-height: 1;
} // h1, h2, h3, h4, h5

img, fieldset, a img {
    border: none;
} // img, fieldset, a img

button {
    border: none;
    background: none;
} // button

input[type="submit"],
button {
    cursor: pointer;
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    } // &::-moz-focus-inner
} // input[type="submit"], button

div, input, textarea, select,button, h1, h2, h3, h4, h5, h6,
a, a:focus, span {
    outline: none;
} // div, input, textarea, select,button, h1, h2, h3, h4, h5, h6, a, a:focus, span
